.App {
  text-align: center;

}


.video-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: black;
  text-align: center;
  padding-top: 50px;
}

.card {
  padding: 10px;
  width: 500px;
  height: 500px;
  margin: auto;
  background: rgb(255, 231, 134);
  background: linear-gradient(90deg, rgba(255, 231, 134, 1) 3%, rgba(233, 190, 148, 1) 100%);
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}

.btn {

  padding: 10px;
  border-radius: 5px;
  margin-top: 160px;
  background-color: aqua;
  box-shadow: 5px 4px 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}